app             export-ignore
bootstrap       export-ignore
config          export-ignore
vendor          export-ignore
public          export-ignore
resources       export-ignore
routes          export-ignore
storage         export-ignore
tests           export-ignore


* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore